<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <h1>Oops, seems it's 500!</h1>
    <p>
        We're sorry, seems like my app isn't working properly...
        Go back to <a href="../../static/index.html">home page</a>.
    </p>
</body>
</html>